/* -------- Variables -------- */

:root {
  --primary-color: #2f3c54;
  --secondary-color: #84bd01;
	--text-color: #585858;
  --alternate-bg-color: #f5f5f5
}

/* -------- Reset -------- */

html {
	background-color: #fff;
  box-sizing: border-box;
}

*, *:before, *:after {
 	box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, p, ol, ul, li, blockquote, address, section {
  margin: 0;
	padding: 0
}

/* -------- Typography -------- */

:root {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: var(--text-color)
}

h1, h2, h3, h4, h5 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	color: var(--primary-color);
}

h1 {
	font-size: 100px;
	line-height: 100px;
	letter-spacing: -1.79px;
  text-align: center;
	margin-bottom: .3em;
}

h2 {
	margin-bottom: .4em;
	font-size: 56px;
	line-height: 56px;
	letter-spacing: -1px;
	text-align: center;
}

h3 {
	font-size: 42px;
	line-height: 48px;
	color: var(--secondary-color);
}

h4 {
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

h5 {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.11px;
}

a {
	font-size: 18px;
	font-weight: 600;
	border: none;
	color: var(--primary-color);
	transition: border .05s ease-out;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	position: relative;
}

a:hover {
	border-bottom: 2px solid var(--primary-color);
}

a:focus {
	outline: none;
}

a:focus::after {
	content: '';
  width: 100%;
  height: 100%;
  padding: .2em .4em;
  box-sizing: content-box;
  position: absolute;
  top: -.2em;
  left: -.4em;
  border-radius: 8px;
  border: 2px solid var(--secondary-color);
}


/* -------- Base -------- */

.container {
	width: 1110px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.container header {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: span 12;
}

button {
	cursor: pointer;
}

button.round {
	color: white;
	background-color: var(--secondary-color);
	padding: .5em 1.7em;
	font-family: 'Helvetica Neue', 'Inter', sans-serif;
	font-size: inherit;
	font-weight: 400;
	letter-spacing: 0.1px;
	border: none;
	border-radius: 18px;
}

button.round:hover {
	background-color: #76a800;
}

button.round:active {
	background-color: #598000;
}

button.round:focus {
	outline: none;
	background-color: var(--secondary-color);
	box-shadow: 0 0 0 2px white, 0 0 0 4px var(--secondary-color);
}

.logo:hover, .store-buttons a {
	border: none;
}

.logo img {
	vertical-align: middle;
}

.store-buttons {
	display: flex;
	justify-content: space-between;
}

.store-buttons a {
	margin-right: 2px;
}

.store-buttons a:last-of-type {
	margin-right: 0;
}

/* -------- Header -------- */

.page-header {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 12px 40px;
}

.page-header nav {
	margin-left: 40px;
}

.page-header nav a {
	margin-right: 26px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.page-header nav a:hover {
	border-bottom: 2px solid var(--secondary-color);
}

.registration-button {
	margin-left: auto;
}

/* -------- Hero -------- */

.hero {
	padding-top: 170px;
	padding-bottom: 15px;
}

.hero h3 {
	text-align: center;
	margin-bottom: 1.2em;
}

.hero-illustration {
	grid-column: span 12;
}

.hero-link {
	margin: 1.2em 0;
}

/* -------- Use cases -------- */

.use-cases {
	background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, var(--primary-color) 50%, var(--primary-color) 100%);
	padding-top: 50px;
	padding-bottom: 70px;
}

.use-case {
	grid-column-end: span 5;
	display: flex;
	flex-direction: column;
	color: white;
}

.use-case:nth-child(1) h3, .use-case:nth-child(1) .use-case-detail {
	color: var(--primary-color);
}

.use-case:nth-child(2) {
	grid-column-start: 8;
}

.use-case h3 {
	margin-bottom: 1em;
}

.use-case h4 {
	margin-bottom: 1.6em;
}

.use-case-details {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;
}

.use-case-detail {
	width: 50%;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0;
}

.use-case-detail img {
	margin-right: 1em;
}

/* -------- Features -------- */

.features {
	padding: 100px 0;
	background-color: var(--alternate-bg-color);
}

.features header {
	margin-bottom: 6em;
}

.feature-description {
	grid-column: span 5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.feature-illustration {
	grid-column: span 6;
	margin-bottom: 140px;
}

.features h3 {
	color: var(--primary-color);
	margin-bottom: .4em;
}

.features h5 {
	margin-bottom: .5em;
}

.feature-description > p {
	margin-bottom: 2.5em;
}

.feature-description-detail {
	width: 49%;
	margin-bottom: 2em;
}

.feature-extra {
	grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
	margin-top: 5em;
}

.feature-extra-icon {
	margin-right: 1em;
}

.feature-extra p {
	margin: 1em 0;
}

.feature-extra a {
	font-family: 'Bebas Neue', cursive;
	line-height: 24px;
	letter-spacing: 0.11px;
	font-weight: 400;
}

/* -------- Stats -------- */

.stats {
	padding-top: 50px;
	padding-bottom: 130px;
}

.stats header {
	margin-bottom: 4em;
}

.stat {
	position: relative;
  grid-column-end: span 2;
}

.stat h4 {
	width: max-content;
  position: absolute;
  top: 112%;
  left: 50%;
  transform: translateX(-50%);
}

.stat-1 {
  grid-column-start: 2;
}

.stat-2 {
  grid-column-start: 6;
}

.stat-3 {
  grid-column-start: 10;
}

.stat-4 {
  grid-column-start: 4;
	margin-top: 9em;
}

.stat-5 {
  grid-column-start: 8;
	margin-top: 9em;
}

/* -------- News -------- */

.news {
	padding-top: 50px;
	padding-bottom: 80px;
	background-color: var(--alternate-bg-color);
}
